.PMOStream {
    background-color: rgba(39, 94, 142, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(39, 94, 142, .5);
    height: 55px;
    text-align: center;
}
.TestingStream{
    background-color: rgba(63, 112, 154, 1);
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(63, 112, 154, 1);
    height: 55px;
    text-align: center;
}
.BAStream{
    background-color: rgba(87, 130, 167, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(87, 130, 167, 1);
    height: 55px;
    text-align: center;
}
.ConsultingStream{
    background-color: rgba(111, 148, 179, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(111, 148, 179, 1);
    height: 55px;
    text-align: center;
}
.ITSMStream{
    background-color: rgba(135, 166, 192, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(135, 166, 192, 1);
    height: 55px;
    text-align: center;
}
.DataServicesStream{
    background-color: rgba(159, 183, 205,1 );
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(159, 183, 205,1 );
    height: 55px;
    text-align: center;
}
.BIStream{
    background-color: rgba(183, 201, 217, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(183, 201, 217, 1);
    height: 55px;
    text-align: center;
}
.SalesForceStream{
    background-color:rgba(207, 219, 230, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(207, 219, 230, 1);
    height: 55px;
    text-align: center;
}
.errorStream {
    background-color: rgba(231, 237, 242, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(231, 237, 242,1);
    height: 55px;
    text-align: center;
}

.InfStream{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
    border-spacing: 50 25px;
    border-color: rgba(255, 255, 255, 1);
    height: 55px;
    text-align: center;
}

.noStream{
    background-color: inherit;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
	border-radius: 10px;
    border-spacing: 50 25px;
    height: 55px;
    text-align: center;
}

